// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
// $light-gray: #F4F4F4;

// Custom MuseMySelf

$black: #000000;
$white: #FFFFFF;
$green-primary: #2BFEB2;
$purple-theater: #CE85FB;
$yellow-movie: #FFF96A;
$blue-painting: #85D8FB;
$red-youtube: #FF6460;
$lime-book: #88FF5F;
$pink-audio: #FF42CA;
$light-gray: #B6B6B6;
