// Specific CSS for your home-page

.home-title {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 130px;

  h1 {
    font-size: 45px;
    text-align: center;
    line-height: 53px;
    margin-bottom: 1px;
  }

  p {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    line-height: 28px;
    opacity: 0.6;
    margin: 0 auto;
    letter-spacing: 1.5px;
  }
}

.home-container {
  margin-bottom: 153px;
  padding-top: 1rem;
  margin-top: 160px;

  .form-container {
    width: 70%;

    .form-input {
      border: none;
      font-size: 33px;
      border-radius: 0px !important;
      padding:0px 0px 10px 0px !important;
      font-weight: 500;
      font-family: 'DM Serif Display';
      border-bottom: 1px solid white;
    }
  }
}

// Background icon

.bg-icon-svg {
  z-index: -5;
  position: fixed;
  top: 140px;
  opacity: 0.6;
}
