.placeholder {
  border: 1px solid red;
  tr {
    border: 1px solid red;
    td {
      border: 1px solid red;
    }
  }
}

.stats {
  display:flex;
  justify-content: space-between;
  opacity: .5;
  margin:12px 0;
}

.description{
  text-align: center;
}
