<!-- Page header -->
<div class="profile-header">
  <h2>Bonjour</h2>
  <h1><%= "#{current_user.name} !" %></h1>
</div>

<!-- Page subtitle -->
<div class="content-title">
  <h3 class="text-center">Mes parcours</h3>
</div>

<!-- Tabs -->
<div class="tabs">
  <!-- Tabs buttons-->
  <div id="myTabs">
    <button class="tab-button btn-topic-disabled btn-active" data-id="pending">En cours</button>
    <button class="tab-button btn-topic-disabled" data-id="completed">Complétés</button>
    <button class="tab-button btn-topic-disabled" data-id="favorite">Coups de ❤</button>
  </div>
  <!-- Tabs content -->
  <div id="myTabsContent">
    <!-- Started -->
    <div class="tab-content show" id="pending">
      <!-- User Journey cards vertical display -->
      <div class="cards-container-vertical">
        <%= render 'shared/user_journey_cards', data: { user_journeys: @user_journeys_started, progress: @user_journeys_progress } %>
      </div>
    </div>
    <!-- Completed -->
    <div class="tab-content" id="completed">
      <!-- User Journey cards vertical display -->
      <div class="cards-container-vertical">
        <%= render 'shared/user_journey_cards', data: { user_journeys: @user_journeys_completed, progress: @user_journeys_progress } %>
      </div>
    </div>
    <!-- Best rating -->
    <div class="tab-content" id="favorite">
      <!-- User Journey cards vertical display -->
      <div class="cards-container-vertical">
        <%= render 'shared/user_journey_cards', data: { user_journeys: @user_journeys_favorites, progress: @user_journeys_progress } %>
      </div>
    </div>
  </div>
</div>
