<!-- Partial for 'home.html.erb' -->

<div class="cards-container">
  <% data.each do |journey| %>
    <%= link_to journey_path(journey), class: "card-journey" do %>
      <div class="bg">
        <div class="card-icone"></div>
        <h4><%= journey.name %></h4>
        <p><%= "#{journey.summary.split.first(4).join(" ")}..." %></p>
      </div>
    <% end %>
  <% end %>
</div>
