<!-- Page header for quiz#show & results -->
<div class="quiz-header">
  <!-- Content title -->
  <h4><%= @user_journey_content.content.title %></h4>
  <!-- Content aythor & date -->
  <p><%= "#{@user_journey_content.content.author}, #{@user_journey_content.content.date}" %></p>
</div>
