<!-- Search Form -->

<%= form_for :search, url: journeys_path, method: :get do |f| %>
  <div class="form-container">
    <label class="form-label form-label-hidden" for="search[query]">Champ de recherche</label>
    <input class="form-input" type="text" name="search[query]" id="search_query" placeholder="Une idée ?"/>
    <%= f.submit "Découvrir", class: "btn-search form-btn" %>
  </div>
<% end %>
