<div class="cards-container">
  <div class="card-journey">
    <div class="bg">
      <div class="card-icone"></div>
      <h4>Renaissance</h4>
      <p>Description brève du contenu</p>
    </div>
  </div>
  <div class="card-journey">
    <div class="bg">
      <div class="card-icone"></div>
      <h4>Renaissance</h4>
      <p>Description brève du contenu</p>
    </div>
  </div>
  <div class="card-journey">
    <div class="bg">
      <div class="card-icone"></div>
      <h4>Renaissance</h4>
      <p>Description brève du contenu</p>
    </div>
  </div>

</div>

