// Display cards vertical scroll (partial _vertical_cards)

.cards-container-vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;

  .card-journey{
    margin: 0;
    margin-bottom: 10px;
    flex-grow: 1;
  }
}

// Journey card without background color

.card-journey{
  // Card content
  color: $black;
  border-radius: $border-radius;
  height: 217px;
  padding: 1rem; // 16px
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // Display an icon on the card background
  position: relative;

  .card-bg-icon{
    align-self: flex-end;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
  }

  &:hover, &:active{
    text-decoration: none;
    color: $black;
  }

  p{
    margin: 0;
  }
}

// Used to change background color of journey card

.card-journey.art{
  background-color: $blue-painting;
}

.card-journey.architecture{
  background-color: $yellow-movie;
}

.card-journey.photo{
  background-color: $pink-audio;
}

.card-journey.music{
  background-color: $purple-theater;
}
