// Caroussel tags and cards

.caroussel-container{
  display: flex;
  overflow: scroll;
  padding: 0 5px;
}

.caroussel-item{
  margin: 0 5px;
}

// Specific for Caroussel cards

.caroussel-item-card{
  margin: 0 5px;
  min-width: 95%;
}
