// Caroussel tags and cards

.caroussel-container{
  display: flex;
  overflow: scroll;
  padding: 0 16px;

  // Specific for Caroussel cards
  .card-journey{
    margin: 0 5px;
    min-width: 98%;
    flex-grow: 1;
  }
}

.caroussel-item{
  margin: 0 5px;
}
