// Display cards vertical scroll (partial _vertical_cards)

.cards-container-vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 16px;

  .card-journey{
    margin: 0;
    margin-bottom: 10px;
    flex-grow: 1;
  }
}

// Journey card without background color

.card-journey{
  // Card content
  color: $black;
  border-radius: $border-radius;
  height: 217px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // Display an icon on the card background
  position: relative;

  .card-journey-timer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    opacity: .7;
    justify-content: space-between;
    z-index: 5;
    min-width: 85%;

    h4 {
      font-family: $body-font;
      font-size: 16px;
      margin-top: -6px;
      margin-bottom: 0;
      margin-right: 16px;
    }

    img {
      width: 32px;
      margin-right: 4px;
    }
  }

  .card-bg-icon{
    align-self: flex-end;
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
  }

  &:hover, &:active{
    text-decoration: none;
    color: $black;
  }

  p{
    margin: 0;
    opacity: .7;
    line-height: 23px;
  }
}

// Used to change background color of journey card

.card-journey.art{
  background-color: $blue-painting;
}

.card-journey.architecture{
  background-color: $yellow-movie;
}

.card-journey.photo{
  background-color: $pink-audio;
}

.card-journey.music{
  background-color: $purple-theater;
}
