// Forms: sign up, login, search (rating)

.form-container{
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

// Form label

.form-label{
  color: #B6B6B6;
  align-self: flex-start;
  margin: 0;
  padding: 0 5px;
  background-color: $black;
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 14px;
}

.form-label-hidden{
  display: none;
}

// Form input

.form-input{
  border: 1px solid #B6B6B6;
  color: #B6B6B6;
  flex-grow: 1;
  background-color: $black;
  border-radius: $border-radius;
  margin-bottom: 10px;
  height: 40px;
  padding: 0 20px;
}

.form-input:focus{
  border: 2px solid $white;
  color: $white;
  outline: none;

  // & ~ .form-label{
  //   color: $white;
  // }
}

// Form btn

.form-btn{
  flex-grow: 1;
  margin-top: 10px;
}
