// Forms: sign up, login, search (rating)

.form-container{
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;

  h2{
    margin-bottom: 1rem;
  }

  .only-devise{
    line-height: 12px;
  }

  .btn-login{
    width: 100%;
  }
}

// Form label

.form-label{
  color: $light-gray;
  align-self: flex-start;
  margin: 0;
  padding: 0 5px;
  background-color: $black;
  position: relative;
  top: 4px;
  left: 10px;
  font-size: 14px;
}

.form-label-hidden{
  display: none;
}

// Form input
#search_query {
  border: none;
  font-size: 33px;
  border-radius: 0px !important;
  padding:0px 0px 10px 0px !important;
  font-weight: 500;
  font-family: 'DM Serif Display';
  border-bottom: 1px solid white;
  height: 60px;
  //overflow:visible;
}

.form-input {
  border: 1px solid $light-gray;
  color: $light-gray;
  flex-grow: 1;
  background-color: $black;
  border-radius: $border-radius;
  height: 40px;
  padding: 0 20px;
}

.form-input:focus, .form-input:active{
  border: 2px solid $white;
  color: $white;
  outline: none;
  background-color: $black;
  box-shadow: none;
}

// Form btn

.form-btn{
  flex-grow: 1;
  margin-top: 10px;
}
