.container {
  margin-top: 15px;
}

// conteneur pour journey show => rectangle 21
section {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px 50px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  position: relative;
  margin-bottom: 25px;
}

// div pour les card de contenu avec icones
.content-journey {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// card avec icone et snippets
.card-content {
  margin: 0.5em;
  background-color: $black;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  // snippets
  .counter {
    width: 24px;
    height: 24px;
    background-color: $red-youtube;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -8px;
    top: -12px;
    border-radius: 50%;

    p {
      margin: 0;
    }
  }
}

// div pour snippets
.start {
  position: absolute;
  bottom: 24px;

  .btn-start {
    padding: 16px 105px;
  }
}

.number {
  min-width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: transparent;

  .painting {
    border: 1px solid $blue-painting;
  }
  .theater {
    border: 1px solid $purple-theater;
  }
  .movie {
    border: 1px solid $yellow-movie;
  }
  .book {
    border: 1px solid $lime-book;
  }
  .audio {
    border: 1px solid $pink-audio;
  }
}
