.container {
  margin-top: 80px;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.journey-show {
  background-image: url(image-path("bgjourneyshow.svg"));
  margin-top: 80px;
  width: 90%;
  margin: 0 auto !important;
  background-size: contain;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-content {
  display: flex;
  padding: 0.93em;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.bloc-content {
  flex-grow: 1;
  margin: 5px;

  .bloc-title {
    margin-bottom: 10px;
    display: flex;
    position: relative;
  }
}

.icon-topic-right {
  position: relative;
  top: -6px;
  left: 105px;

  z-index: 3;
}

.icon-topic-left {
  position: relative;
  top: -6px;
  right: 105px;
  z-index: 3;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.journey-name h1 {
  font-size: 3rem;
  margin: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  opacity: 0.5;
  margin: 12px 0;
}

.description {
  text-align: center;
  line-height: 1.7rem;
}

.subscribe,
.rating,
.duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    margin-right: 8px;
  }
}

.svgLeftToRigth {
  svg {
    transform: scaleX(-1);
  }
}

.content-right {
  flex-direction: row-reverse;
}

.topic-and-title-block {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  display: flex;

  .tag-topic {
    padding: 6px 6px;
    color: #000000;
    height: min-content;
    font-size: 12px;
    border-radius: 999px;
    letter-spacing: 4px;
    height: min-content;
    width: min-content;
    position: relative;
    top: -33px;
  }

  * {
    margin: 0px;
  }

  p:first-child {
    margin: 0;
    font-size: 0.9em;
    opacity: 0.6;
  }

  p {
    margin: 0;
    font-size: 1.1em;
  }

  .content-author {
    font-size: 0.9em !important;
    color: rgba(255, 255, 255, 0.6) !important;
  }

  a {
    margin-top: 5px;
  }
}

.block-left {
  align-items: flex-end;
  text-align: right;

  .bloc-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.animated-contend-left {
  width: 100%;
  opacity: 0;
  transition: all 6000ms;
  transition-timing-function: ease-in-out;
  transform: translateX(100%);
  z-index: 1;
  .number {
    opacity: 0;
  }
}

.animation-contend-left {
  opacity: 1;
  animation: slideIn 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  z-index: 1;

  .number {
    animation: zoomIn 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }

  * {
    transition: all 6000ms;
    z-index: 1;
  }
}

.animated-contend-right {
  width: 100%;
  opacity: 0;
  transition: all 600ms;
  transform: translateX(-100%);
  z-index: 1;

  .number {
    opacity: 0;
  }
}

.animation-contend-right {
  animation: slideIn 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  z-index: 1;

  .number {
    animation: zoomIn 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }

  * {
    transition: all 6000ms;
    z-index: 1;
  }
}

@keyframes slideIn {
  0% {
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  70% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.svg-animated {
  * {
    opacity: 0;
    transition: all 6000ms;
    z-index: 1;
  }
}

.svg-show {
  * {
    opacity: 1;
    transition: all 6000ms;
  }
}
