.journey-show{
  background-image: url(image-path("bgjourneyshow.svg"));
  margin-top: 100px;
}

.show-content{
  margin: 40px 0 100px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.show-content:nth-child(odd){
  flex-direction: row-reverse;
  //text-align: right;
}

.show-content:nth-child(even){
  //flex-direction: row-reverse;
  text-align: right;
}

#bloc1{
}

.bloc-content{
  flex-grow: 1;
  margin: 5px;
  text-align: left;

  .bloc-title{
    margin-bottom: 10px;
  }

  p{
    margin: 0;
    font-size: 1.1em;
  }

  .bloc-title p:last-child{
    font-size: .9em;
    color: rgba(255,255,255, 0.6);
  }

  a{
    margin-top: 5px;
  }
}

.icon-topic-movie{
  position: absolute;
  top: -63px;
  left: 225px;
}

.icon-topic-theatre{
  position: absolute;
  top: -25px;
  left: 100px;
}

.icon-topic-painting{
  position: absolute;
  top: -23px;
  left: 182px;
}

.icon-topic-audio{
  position: absolute;
  top: -75px;
  left: 60px;
}

.icon-topic-book{
  position: absolute;
  top: -56px;
  left: 163px;
}

.number{
  margin: 5px;
}
