.navbar-container {
  box-shadow: 0 -5px 40px $black;
  position: fixed;
  bottom: 0;
  z-index: 5000;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: $black;
  padding: 10px;
}
