// Tabs for user_journeys

.container-tabs-btn{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

// test

#myTabs {
  width: 100%;
  border: 1px solid red;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  border: 1px solid red;
}
