.tag-topic{
  display: inline-block;
  padding: 3px 18px;
  color: $black;
  font-weight: 700;
  font-size: 12px;
  border-radius: 50px;
  letter-spacing: 4px;
  // TO DO: change default color according to topic or value
  border: 1px solid $purple-theater;
  background-color: $purple-theater;
}

.tag-category{
  display: inline-block;
  padding: 3px 18px;
  color: $black;
  font-weight: 700;
  font-size: 12px;
  border-radius: 50px;
  letter-spacing: 4px;
  // TO DO: change default color according to topic or value
  border: 1px solid $blue-painting;
  background-color: $blue-painting;
}
