.tag-topic{
  text-align: center;
  display: inline-block;
  padding: 3px 18px;
  color: $black;
  font-weight: 700;
  font-size: 12px;
  border-radius: 50px;
  letter-spacing: 4px;
}

.tag-category{
  text-align: center;
  display: inline-block;
  padding: 3px 18px;
  color: $black;
  font-weight: 700;
  font-size: 12px;
  border-radius: 50px;
  letter-spacing: 4px;
}

// To change background color

.painting{
  border: 1px solid $blue-painting;
  background-color: $blue-painting;
}

.theater{
  border: 1px solid $purple-theater;
  background-color: $purple-theater;
}

.movie{
  border: 1px solid $yellow-movie;
  background-color: $yellow-movie;
}

.book{
  border: 1px solid $lime-book;
  background-color: $lime-book;
}

.audio{
  border: 1px solid $pink-audio;
  background-color: $pink-audio;
}
