// Used for progression and completed date

.tag-progression{
  text-align: center;
  border: 2px solid $white;
  color: $white;
  border-radius: $border-radius-round;
  display: inline-block;
  padding: 3px 18px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 4px;
  // must be used with parent container in 'position: relative' (_card_journey.scss)
  position: absolute;
  align-self: flex-end;
  top: 1rem;
}

// Used for a journey topic

.tag-topic{
  text-align: center;
  display: inline-block;
  padding: 3px 18px;
  color: $black;
  font-weight: 700;
  font-size: 12px;
  border-radius: $border-radius-round;
  letter-spacing: 4px;
}

// Used for a content category

.tag-category{
  text-align: center;
  display: inline-block;
  padding: 3px 18px;
  color: $black;
  font-weight: 700;
  font-size: 12px;
  border-radius: $border-radius-round;
  letter-spacing: 4px;
}

// To change background color of tag-topic & tag-category

.painting{
  border: 1px solid $blue-painting;
  background-color: $blue-painting;
}

.theater{
  border: 1px solid $purple-theater;
  background-color: $purple-theater;
}

.movie{
  border: 1px solid $yellow-movie;
  background-color: $yellow-movie;
}

.book{
  border: 1px solid $lime-book;
  background-color: $lime-book;
}

.audio{
  border: 1px solid $pink-audio;
  background-color: $pink-audio;
}
