// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "journeys/index";


// components

// help for the people who are really bad at desing (and typo)
.border-magic {
  border: 2px solid red;
  margin: 2px;
}

::-webkit-scrollbar {
  display: none;
}


// used for test
.div-test{
  margin: 20px 0;
}



// prevents body content to be hidden by navbar, please do not delete
body {
  margin-bottom: 85px;
}

// Used on pages: Signup, Login (Devise 'shared/links')
.link-container{
  width: 90%;
  margin: auto;
  margin-top: 12px;
}
